html {
   font-size: 14px;
 }
 
 body {
   font-family: 'Noto Sans JP', sans-serif;  
 }
 
 h1 {
   font-size: 1.5rem;
 }
 
 a {
   color: #5196a6;
   text-decoration: none !important;
 }
 
 a:hover {
    color: #5196a6;
 }
 
 footer {
   width: 100%;
   height: 60px;
   position: absolute;
   bottom: 0;    
   background-color: #f2f0eb;
 }
 
 .nagoyameshi-wrapper {
   min-height: 100vh;
   position: relative;
   padding-bottom: 60px;
   box-sizing: border-box;
 }
 
 .nagoyameshi-navbar {
   min-height: 60px;
 }
 
 .nagoyameshi-logo {
   height: 30px;  
 }
 
 .nagoyameshi-btn {
   background-color: #5196a6 !important;   
   transition: 0.1s;
 }
 
 .nagoyameshi-btn:hover {
   opacity: 0.8;   
 }
 
 .nagoyameshi-page-link {
   color: #5196a6;
 }
 
 .nagoyameshi-page-link:hover {
   color: #407784;
 }
 
 .nagoyameshi-active {
   background-color: #5196a6 !important;
   border-color: #5196a6 !important;
 }
 
 .nagoyameshi-link-danger {
     color: #f2594b;
 }
 
 .nagoyameshi-link-danger:hover {
     color: #a63c3c;
 }
 
 .nagoyameshi-btn-danger {
     background-color: #f2594b !important;
     transition: 0.1s;
 }
 
 .nagoyameshi-btn-danger:hover {
   opacity: 0.8;   
 }
 
 .nagoyameshi-swiper {
  width: 100%;
  height: 480px;
}

.nagoyameshi-swiper img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.nagoyameshi-overlay-background {
  position: absolute;
  width: 100%;
  height: 100%;  
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.nagoyameshi-overlay-text {      
  padding: 0 70px;    
}

.nagoyameshi-catchphrase-heading {
  font-size: 36px;
  line-height: 1.5;
  font-family: 'Noto Serif JP', serif;
  font-weight: 600;
  text-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 60%);
}

.nagoyameshi-catchphrase-paragraph {
  font-size: 16px;
  line-height: 2;
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
  text-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 60%);
}

.nagoyameshi-card-link {
  transition: 0.3s;
}

.nagoyameshi-card-link:hover {
  opacity: 0.7;
}

.nagoyameshi-horizontal-card-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

 .nagoyameshi-sort-box {
   width: 150px;
 }
 
 .nagoyameshi-bg {
  background-color: #d95204 !important;
}

.nagoyameshi-remove-favorite-button:hover {
  color: white;
}
 
 @media screen and (min-width: 1400px) {
   .nagoyameshi-container {
     max-width: 1200px;
   }
 }